<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Exercise</display-name>
  <welcome-file-list>
    <welcome-file>/ch10/security.jsp</welcome-file>
  </welcome-file-list>
  <security-role>
  	<role-name>role1</role-name>
  </security-role>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Exercise</web-resource-name>
  		<url-pattern>/ch10/security.jsp</url-pattern>
  		<http-method>GET</http-method>
  	</web-resource-collection>
  	<auth-constraint>
  		<description>FORM 기반 인증</description>
  		<role-name>admin</role-name>
  	</auth-constraint>
  </security-constraint>
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/ch10/login.jsp</form-login-page>
  		<form-error-page>/ch10/login_failed.jsp</form-error-page>
  	</form-login-config>
  </login-config>
  
  <filter>
  	<filter-name>LoginCheckFilter</filter-name>
  	<filter-class>ch12.com.filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginCheckFilter</filter-name>
  	<url-pattern>/ch12/loginForm_success.jsp</url-pattern>
  </filter-mapping>
  
  
</web-app>